.row:after {
    content: "";
    display: block;
    clear: both;
  }

.column {
    float: left;
    width: 32%;
    padding: 10px;
  }
  .widthSet {
    max-width: 100%;
}

#notes{
    overflow-wrap: anywhere;
}